<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Loging Page</mat-toolbar>
        <form (ngSubmit)="login()"  fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Username"  name="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password">
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button>
        </form>
    </mat-card>
</div>